{{#if redirected}}
	<script type="text/javascript">
		$(document).ready(function() {
			alert("Incorrect username/password");
		});
	</script>
{{/if}}

<h1>Twoter</h1>

<p>Log In or Sign Up</p>
<form method="POST" action="/login">
	<input type="text" name="username" id="username" placeholder="Username" required /><br />
	<input type="password" name="password" id="password" placeholder="Password" required /><br />
	<input type="submit" value="Submit" />
</form>

<a href="/auth/facebook">Log In With Facebook</a>